h1 {
    color: white;
    position: absolute;
    left: 50%;
    top: 41.5%;
    transform: translate(-50%, -41.5%);
    text-align: center;
}

h4 {
    color: white;
    position: absolute;
    left: 50%;
    top: 92.5%;
    transform: translate(-50%, -92.5%);
}

body {
    font-family: "Lexend", sans-serif;
    background-color: #67c79f;
    color: white;
    margin: 0;
}

#textBoxDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#checkButtonDiv {
    position: absolute;
    left: 50%;
    top: 57.5%;
    transform: translate(-50%, -57.5%);
}